#WP bloat
plugins/akismet
plugins/hello.php
plugins/index.php

theme/*
!theme/react-src
!theme/react-src/*
theme/**/node_modules
theme/**/build

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backups

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

build
dist.zip
uploads
plugins

/*.zip